@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");

$back-1: #161616;
$back-2: #222222;

// $primary: #e50913;
$primary: #ed1c24;
// $primary: #f77440;

$text: #fff;

$border-radius: 5px;

$shadow: 0 0 10px #090909;

.text-primary {
  color: $primary;
}
.icon-Btn {
  background: none;
  border: none;
  color: $primary;
  transition: 0.1s;
  &:hover {
    color: $text;
    cursor: pointer;
  }
  &:active {
    transform: scale(1.4);
  }
}
.solid-Btn {
  background: $primary;
  border-radius: $border-radius;
  color: $text;
  border: none;
  padding: 10px;
  transition: 0.1s;
  &:hover {
    cursor: pointer;
  }
  &:active {
    transform: scale(1.2);
  }
}
