@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");

$back-1: #161616;
$back-2: #222222;

$primary: #e50913;
// $primary: #f77440;

$text: #fff;

$border-radius: 5px;

$shadow: 0 0 10px #090909;

.text-primary {
  color: $primary;
}
.icon-Btn {
  background: none;
  border: none;
  color: $primary;
}
.solid-Btn {
  background: $primary;
  border-radius: $border-radius;
  color: $text;
  border: none;
  padding: 10px;
}
