#movieDetails {
  display: flex;
  #poster {
    height: 250px;
  }
  #banner {
    width: 100vw;
  }
  #quickInfo {
    display: flex;
    justify-content: space-around;
    width: 100vw;
  }
  #title {
    text-align: center;
  }
  h2 {
    font-size: 24px;
    font-weight: 340;
  }
  h3 {
    color: $text;
  }
  .movieInfo {
    display: flex;
    color: $text;
    #description {
      padding: 10px;
    }
    #movieInfoRight {
      display: flex;
      flex-direction: column;
    }
  }
  #rate {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    #stars {
      color: $primary;
      .star {
        color: $primary;
        font-size: 30px;
      }
    }
  }
  iframe {
    width: 90vw;
    height: 300px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    textarea {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .comment {
    color: $primary;
    margin: 20px;
    border-bottom: black 1px solid;
    display: flex;
    align-items: center;
  }
}
