#movieDetails {
  display: flex;
  img {
    height: 150px;
  }
  #quickInfo {
    display: flex;
    justify-content: space-around;
  }
  h2 {
    font-size: 24px;
    font-weight: 340;
  }
  h3 {
    color: $text;
  }
  .movieInfo {
    display: flex;
    color: $text;
    #description {
      padding: 10px;
    }
    #movieInfoRight {
      display: flex;
      flex-direction: column;
    }
  }
  iframe {
    width: 90vw;
    height: 300px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    textarea {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .comment {
    color: $primary;
    margin: 20px;
    border-bottom: black 1px solid;
    display: flex;
    align-items: center;
  }
}
