@import "global";
#movie {
  display: flex;
  #movie-left {
    width: 30%;
    min-width: 500px;
    #movie-title {
      #title {
      }
    }
    #movie-img {
    }
  }
  #movie-right {
    width: 70%;
    #movie-details {
      #genre {
        color: $primary;
      }
      #details {
        color: $primary;
      }
    }
    #trailers {
      #trailer-buttons{
        #trail-num{
          color:$primary;
        }
      }
    }
  }
  #feedback-section {
  }
}
