@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");

$back-1: #161616;
$back-2: #222222;

$primary: #f16e6e;
// $primary: #d659d0;

$text: #fff;

$border-radius: 5px;

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
html {
  background: $back-1;
}
header {
  background-color: $back-2;
  color: $text;
  padding: 10px;
  box-shadow: 0 0 10px #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: $text;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // padding: 15px;
}
h1 {
  color: $primary;
}
h2 {
  color: $primary;
  font-weight: 400;
  font-size: 20px;
}
h3 {
  font-weight: 400;
  font-size: 16px;
}
form {
  background-color: $back-2;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: $border-radius;
  color: $text;
  width: 75vw;
  box-shadow: 0 0 10px #090909;

  span {
    display: flex;
  }
  .searchBar {
    width: 100%;
    display: flex;
  }
  input {
    padding: 10px;
    background: white;
    border: none;
    border-radius: $border-radius 0 0 $border-radius;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
  }
  button {
    padding: 10px;
    font-size: 16px;
    background: $primary;
    border: none;
    border-radius: 0 $border-radius $border-radius 0;
    transition: 0.1s;
    &:hover {
      color: white;
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: $back-2;
  color: $text;
}
#searchResult {
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 33%;
  }
}
.movie a {
  display: flex;
  margin: 10px;
  text-decoration: none;
  color: black;
  h2 {
    color: $primary;
  }
  h3 {
    color: $text;
  }
  img {
    height: 150px;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 600px) {
  #searchResult {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
      width: 100%;
    }
  }
}
