@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
.text-primary {
  color: #e50913;
}

.text-primary {
  color: #e50913;
}

#movie {
  display: flex;
}
#movie #movie-left {
  width: 30%;
  min-width: 500px;
}
#movie #movie-left #movie-img img {
  width: 500px;
  height: 750px;
}
#movie #movie-right {
  width: 70%;
}
#movie #movie-right #movie-details #genre {
  color: #e50913;
}
#movie #movie-right #movie-details #details {
  color: #e50913;
}
#movie #movie-right #trailers #trailer-buttons {
  display: flex;
  align-items: center;
}
#movie #movie-right #trailers #trailer-buttons #trail-num {
  color: #e50913;
  margin-top: 10px;
}
#movie #movie-right #rec {
  width: 100%;
  height: 310px;
  overflow-x: scroll;
  display: flex;
  background-color: #222222;
}
#movie #movie-right #rec div {
  margin: 10px 35px;
}
#movie #movie-right #rec div .movie-image {
  width: 163px;
  height: 230px;
  margin: 0;
  padding: 0;
}
#movie #movie-right #rec div .name {
  margin: 0;
  text-align: center;
  padding: 0;
  color: #fff;
}
a {
  text-decoration: none;
}

.text-primary {
  color: #e50913;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login input {
  width: 100%;
  border: none;
  margin: 10px;
  padding: 5px;
}

li {
  color: #e50913;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}

html {
  background: #161616;
}

header {
  background-color: #222222;
  color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px #090909;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: #fff;
}
header h1 {
  flex-grow: 1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #e50913;
}

h2 {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  background: #e50913;
  border: none;
  transition: 0.1s;
  border-radius: 5px;
  color: #fff;
}
button:hover {
  color: white;
}

#searchBox {
  background-color: #222222;
  margin: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  width: 75vw;
  box-shadow: 0 0 10px #090909;
}
#searchBox span {
  display: flex;
}
#searchBox .searchBar {
  width: 100%;
  display: flex;
}
#searchBox input {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
  flex-grow: 1;
}
#searchBox button {
  border-radius: 0 5px 5px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  background-color: #222222;
  color: #fff;
}

.searchResult {
  margin-bottom: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.searchResult li {
  width: 30%;
}

.movie {
  display: flex;
  margin: 10px;
  text-decoration: none;
  color: black;
}
.movie h2 {
  color: #fff;
  font-size: 24px;
}
.movie h3 {
  color: #fff;
  font-weight: 300;
}
.movie img {
  height: 150px;
  margin-right: 20px;
}
.movie span {
  color: #e50913;
}
.movie .movieBtn {
  color: #e50913;
  background: none;
}
.movie .movieBtn:hover {
  cursor: pointer;
}
.movie .movieBtn:active {
  transform: scale(1.3);
  color: white;
}

.qr {
  width: 25%;
  margin: 20px;
}

#socials {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
#socials .socialLink {
  font-size: 32px;
  background-color: #e50913;
  color: #161616;
  padding: 5px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222222;
  padding: 10px;
  justify-content: space-around;
  display: flex;
  box-shadow: 0 0 10px black;
}
.navbar a,
.navbar button {
  text-decoration: none;
  color: #e50913;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  color: white;
}
#about a {
  color: #e50913;
  text-decoration: underline;
}
#about #quote {
  font-style: italic;
}
#about h2 {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .qr {
    width: 75%;
  }

  .searchResult {
    margin-bottom: 30px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }
  .searchResult li {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
