@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap");
.text-primary {
  color: #e50913;
}

.icon-Btn {
  background: none;
  border: none;
  color: #e50913;
  transition: 0.1s;
}
.icon-Btn:hover {
  color: #fff;
  cursor: pointer;
}
.icon-Btn:active {
  transform: scale(1.4);
}

.solid-Btn {
  background: #e50913;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px;
  transition: 0.1s;
}
.solid-Btn:hover {
  cursor: pointer;
}
.solid-Btn:active {
  transform: scale(1.2);
}

#movieDetails {
  display: flex;
}
#movieDetails #poster {
  height: 250px;
}
#movieDetails #banner {
  width: 100vw;
}
#movieDetails #quickInfo {
  display: flex;
  justify-content: space-around;
  width: 100vw;
}
#movieDetails #title {
  text-align: center;
}
#movieDetails h2 {
  font-size: 24px;
  font-weight: 340;
}
#movieDetails h3 {
  color: #fff;
}
#movieDetails .movieInfo {
  display: flex;
  color: #fff;
}
#movieDetails .movieInfo #description {
  padding: 10px;
}
#movieDetails .movieInfo #movieInfoRight {
  display: flex;
  flex-direction: column;
}
#movieDetails #rate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#movieDetails #rate #stars {
  color: #e50913;
}
#movieDetails #rate #stars .star {
  color: #e50913;
  font-size: 30px;
}
#movieDetails iframe {
  width: 90vw;
  height: 300px;
}
#movieDetails form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
#movieDetails form textarea {
  width: 100%;
  margin-bottom: 10px;
}
#movieDetails .comment {
  color: #e50913;
  margin: 20px;
  border-bottom: black 1px solid;
  display: flex;
  align-items: center;
}
#movieDetails .cast #castList {
  display: flex;
  flex-wrap: wrap;
}
#movieDetails .cast .castMember {
  list-style: none;
  padding: 20px;
}
#movieDetails .cast .castMember .castImg {
  height: 250px;
}

@media only screen and (max-width: 600px) {
  #castList {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100vw;
    overflow-y: scroll;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
}

html {
  background: #161616;
}

header {
  background-color: #222222;
  padding: 15px;
  box-shadow: 0 0 10px #090909;
}

h1 {
  font-size: 32px;
  color: #e50913;
}

h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 300;
}

h3 {
  font-size: 16px;
  color: #fff;
  font-weight: 300;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
}

#homepage form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #222222;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #090909;
}
#homepage input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
}

#searchResult,
.searchResult {
  display: flex;
  flex-wrap: wrap;
}
#searchResult .movie,
.searchResult .movie {
  display: flex;
  margin-top: 20px;
}
#searchResult .movie img,
.searchResult .movie img {
  height: 150px;
}

nav {
  position: fixed;
  bottom: 0;
  background: #222222;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 10px #090909;
}

#about img {
  width: 50%;
}

@media only screen and (min-width: 600px) {
  .movie {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
